.profile-desc{
    
}
hr{border:none;}
.header{
    display: flex;
        flex-direction: row;
    justify-content: space-between;
        align-items: center;
    background: #4272a2;
    height: 100px;
    border-radius: 0.5rem;
        border-bottom: solid 8px 
#2d5585;
      
        
        margin: 0rem 0rem 1rem 0rem;
        padding: 0rem 2rem 0rem 2rem;
      
    }
    .title {
    
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;   
      
    font-size:2em;
      height: 100%;
      margin: 0rem 2rem 0rem 0rem;
    
    }
    
    .logo {
    
      
      height: 64px;
    
     
      padding: 0.5rem;
      border-radius: 12px;
    
      flex-grow: none;
    
    }
    .logo img {
    
     
      height: 50px;
    
    
    
        
      flex-grow: none;
    
    }
    .profile-2{
      display:none;
    }
    .red{
      background: #F3B3A7!important;
    }
    .yellow{
      background: #F2E2B0!important;
    }
    .green{
      background: #DEEFB7!important;
    }
    .slide-in-fwd-center{-webkit-animation:slide-in-fwd-center .2s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-fwd-center .3s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
.page{visibility:visible !important;}
@media screen and (max-width: 992px) {
  .header {
    display:none;
  }
  .profile-2 {
    display:block;
  }
  .cyber .logo img {
    
    width: 25px;
    height: 25px;
  
  }
  .cyber .title {

    font-size:1em
  
  }
  .cyber .welcome-header{
    max-width: 4em;
    padding-top: .2em; 
  }
}
